<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-fluid logo-marvel" src="./assets/images/logo-marvel.png" alt="Logo Marvel">
            </div>
            <div class="col-md-9">
                <input type="text" [(ngModel)]="characterFilter.name" placeholder="Search Character" id="search-character" name="search-character" /> 
            </div>
        </div>
    </div>
</header>

<section id="contenido">
    <div class="container">    
        <h2><img src="./assets/images/icons/characters.png" /> Characters</h2>

        <section id="characters">
            <div class="row">
                <div class="col-md-10">
                    <div class="container">
                        <div class="row box-characters">
                            <div class="col-md-6" *ngFor="let character of characters  | filterBy: characterFilter | paginate: { itemsPerPage: 10, currentPage: p }">
                                <div class="box-character">
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            <img class="img-character" src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.name}}" />
                                        </div>
                                        <div class="col-md-6">
                                            <h2>{{character.name}}</h2>
                                            <p *ngIf="character.description">
                                                {{character.description | slice:0:100}}...
                                            </p>
                                            <p *ngIf="!character.description">
                                                with out description
                                            </p>
                                            <button type="button"  value="VIEW MORE">VIEW MORE</button>
                                        </div>
                                    </div>
                                    <div class="box-related-comics" *ngIf="character.comics.items.length > 0">
                                        <h3>Related comics</h3>
                                        <div class="row">
                                            <div class="col-6" *ngFor="let comic of character.comics.items">
                                                <a href="javascript:void(0)" (click)="getComic(comic.resourceURI)">{{comic.name}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
                <div class="col-md-2 box-favourites">
                    <h2><img src="./assets/images/icons/favourites.png" /> Favourites</h2>
                    <div class="favourite" *ngFor="let favorite of favourites">
                        <button (click)="deleteFavorite(favorite.id)"><img src="./assets/images/icons/btn-delete.png"/></button>
                        <img class="img-fluid" src="{{favorite.thumbnail.path}}.{{favorite.thumbnail.extension}}" alt="{{favorite.title}}" />
                        
                        <a href="javascript:void(0)" (click)="getComic(favorite.resourceURI)">{{favorite.title}}</a>
                    </div>
                    <button class="btn-random" (click)="getRadomComics()">Add Ramdom</button>
                </div>
            </div>
        </section>

        <div class="modal-marvel" *ngIf="onlyComic">
            <div class="container">
                <div class="box-modal-marvel">
                    <div class="row">
                        <button class="close-modal" (click)="closeModal()">X</button>
                        <div class="col-md-4">
                            <img *ngIf="onlyComic.images.length > 0" class="img-fluid" src="{{onlyComic.images[0].path}}.{{onlyComic.images[0].extension}}" alt="{{onlyComic.title}}" />                   
                        </div>
                        <div class="col-md-8">
                            <h2>{{onlyComic.title}}</h2>
                            <p>
                                {{onlyComic.description}}
                            </p>
                        </div>
                    </div>
                    <div class="box-modal-btns-marvel">
                        <div class="add-favourite">
                            <button (click)="guardarFavorito(onlyComic.id, onlyComic)">ADD TO FAVOURITES</button>
                        </div>
                        <div class="buy" *ngIf="onlyComic.prices">
                            <button>BUY FOR {{onlyComic.prices[0].price}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>