/*GENERALES*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F4F4F4;
}

h2{
    font-weight: 700;
}

button:focus {
    outline: dotted 0px;
    outline: -webkit-focus-ring-color auto 0px;
}

/*HEADER*/

header{
    background: #2D2727;
}

.logo-marvel{
    max-width: 150px;
}

header input{
    width: 70%;
    margin: 15px 0;
    padding: 10px;
}

/*CONTENIDO*/
#contenido{
    margin: 20px 0;
}

/*BOX CHARACTER*/
.box-character{
    margin: 70px 10px;
    background: #ffffff;
    padding: 10px 20px;
}

.box-character p{
    font-weight: 300;
}

.box-character a{
    font-weight: 300;
    color: #2D2727;
    text-decoration: none;
    font-size: 14px;
    transition: all .5s ease;
}

.box-character a:hover{
    color: #EC1E23;
    padding: 0 0 0 28px;
    background: url('./assets/images/icons/link-arrow.png');
    background-repeat: no-repeat;
    background-position: left;
    transition: all .5s ease;
    cursor: pointer;
}

.box-character h2{
    font-weight: 700;
    font-size: 24px;
}

.box-character h3{
    font-weight: 700;
    color: #786E6D;
    font-size: 20px;
}

.box-character img{
    max-width: 100%;
    border-radius: 50%;
    height: 176px;
    width: 176px;
    object-fit: cover;
    margin: -50px 0 30px 0;
    box-shadow: 0 3px 8px #a7a7a7;
}

.box-character button{
    display: block;
    border: 0;
    padding: 5px 10px !important;
    background: #EC1E23;
    color: #ffffff;
}

.favourites h2{
    font-size: 18px;
}

.favourite{
    position:relative;
    margin-top: 20px;
}

.favourite a{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    text-decoration: none;
    color: #000000;
    transition: all .5s ease;
}

.favourite a:hover{
    color: #EC1E23;
    padding: 0 0 0 28px;
    background: url(/assets/images/icons/link-arrow.png);
    background-repeat: no-repeat;
    background-position: left;
    transition: all .5s ease;
    cursor: pointer;
}

.favourite button{
    position: absolute;
    top: -17px;
    right: -22px;
    border: 0;
    background: transparent;
    border-radius: 30px;
}

/*PAGINATION*/
.ngx-pagination{
    width: 100%;
    text-align: center;
}

.ngx-pagination .current{
    padding: 0.1875rem 0.625rem;
    background: #ffffff;
    color: #2d2727;
    cursor: default;
}

/**RANDOM*/
.btn-random{
    display: block;
    border: 0;
    padding: 5px 10px !important;
    background: #EC1E23;
    color: #ffffff;
}

/*MODAL*/
.modal-marvel{
    background: rgba(0,0,0,.6);
    position: fixed;
    display: flex;
    align-items: center; 
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    transition: all .5s ease;
}

.box-modal-marvel .row{
    position: relative;
    background: #ffffff;
    padding: 30px;
    max-width:80%;
    margin: 0 auto;
}

.box-modal-btns-marvel{
    position: relative;
    background: #ffffff;
    max-width:80%;
    margin: 0 auto;
}

.box-modal-marvel h2{
    font-weight: 700;
    font-size: 20px;
}

@media(max-width: 768px){
    .box-modal-marvel h2{
        margin-top: 20px;
    }
}

.box-modal-marvel p{
    font-weight: 300;
    font-size: 16px;
}

.box-modal-marvel img{
    max-height: 300px;
}

@media(max-width: 768px){
    .box-modal-marvel img {
        max-height: 300px;
        height: 180px;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.close-modal{
    position: absolute;
    width: 30px;
    right: -10px;
    top: -10px;
    padding: 4px 10px;
    font-weight: 700;
    color: #ffffff;
    background: #000000;
    border-radius: 30px;
    border: 0;
}

.add-favourite{
    width: 50%;
    float: left;
}

.add-favourite button{
    width: 100%;
    border: 0;
    display: block;
    height: 55px;
    background: #F0F0F0;
    color: #3D3332;
    font-weight: 700;
    background-image: url('./assets/images/icons/btn-favourites-default.png');
    background-repeat: no-repeat;
    background-position: left 40px center;
    transition: all .3s ease;    
}

.add-favourite button:hover{
    background: #3D3332;
    color: #EC1E22;
    background-image: url('./assets/images/icons/btn-favourites-primary.png');
    background-repeat: no-repeat;
    background-position: left 45px center;
    transition: all .3s ease;
}

@media(max-width: 768px){
    .add-favourite button{
        background-image: transparent;
    }
    
    .add-favourite button:hover{
        background-image: transparent;
    }
}

.buy{
    width: 50%;
    float: right;
}

.buy button{
    width: 100%;
    border: 0;
    display: block;
    height: 55px;
    background: #DCDCDC;
    color: #3D3332;
    font-weight: 700;
    background-image: url('./assets/images/icons/shopping-cart-primary.png');
    background-repeat: no-repeat;
    background-position: left 60px center;
    transition: all .3s ease;  
}

@media(max-width: 768px){
    .buy button{
        background-image: transparent;
    }
}

/*FOOTER*/
footer{
    background: #2D2727;
    color: #ffffff;
    padding: 15px 0;
}